.tree {
  display: grid;
  align-content: start;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.cell {
  display: grid;
  cursor: pointer;
  margin: 0px;
  border: 0px;
  background: transparent;
  padding: 0px;
  height: var(--fs-cell-height);
  line-height: var(--fs-cell-height);
  text-align: left;
  white-space: nowrap;
}
