* {
  scrollbar-color: lightgrey transparent;
  scrollbar-width: thin;
}

.app {
  display: grid;
  grid-template-columns: 125px 125px 1fr;
  justify-content: start;
  height: 100vh;
}

.default[data-fs-tree] {
  --fs-indent-guide-color: rgb(160, 160, 160);
  --fs-indent-guide-width: 15px;
  --fs-cell-height: 25px;
}

.default [data-fs-cell]:hover {
  background-color: rgb(244, 244, 244);
}

.default [data-fs-cell]:focus {
  outline: none;
  border-right: 5px solid rgb(160, 160, 160);
  background-color: rgb(244, 244, 244);
}

.default [data-fs-selected] {
  text-decoration: underline;
}

.custom[data-fs-tree] {
  --fs-indent-guide-color: rgb(238, 238, 238);
  --fs-indent-guide-width: 15px;
  --fs-cell-height: 40px;
  background-color: #23262e;
  color: white;
}

.custom [data-fs-cell] {
  color: white;
  fill: white;
}

.custom [data-fs-cell]:hover {
  background-color: rgba(244, 244, 244, 0.25);
}

.custom [data-fs-cell]:focus {
  outline: none;
  border-right: 5px solid rgb(238, 238, 238);
  background-color: rgba(244, 244, 244, 0.5);
}

.custom [aria-collapsed] .dirIndentGuide {
  box-sizing: border-box;
  border: 1px solid white;
  background: #23262e !important;
}

.custom [aria-selected] {
  text-decoration: underline;
}

.textarea {
  padding: 10px;
}

.input {
  border: none;
  border-top: 1px solid lightgrey;
  background: black;
  padding: 10px;
  color: white;
  font-family: monospace;
  &:focus-visible {
    outline: none;
  }
}
